html{
    height: 100%;
}
body{
    background-color: aqua;
}
.flex{
    display: inline-block;
    text-align: center;
  font-size: xx-small;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    max-width: 1400px;
    margin:  0 auto;
}
.malumot{
  
   border: 2pc solid;
    display: inline-block;
}
.malumot2{
  
   border: 2pc solid;
    display: inline-block;
}
.malumot3{
    
   border: 2pc solid;
    display: inline-block;
}
.malumot4{
  
   border: 2pc solid;
    display: inline-block;
}
.malumot5{
  
   border: 2pc solid;
    display: inline-block;
}
.malumot6{
    
   border: 2pc solid;
    display: inline-block;
}
.malumot7{
 
   border: 2pc solid;
    display: inline-block;
}
.malumot8{
   
   border: 2pc solid;
    display: inline-block;
}
